

<app-menu-title
Title="New England">
</app-menu-title>

<div class="container__articles">
    

    <div class="articles__main">
        
    <app-big-card 
        Id="1"
        photoCover = "https://static.clubs.nfl.com/image/private/t_editorial_landscape_mobile/f_png/patriots/ewpoup40009kwymtpq14.png"
        cardTitle = "Patriots VS Eagles"
        cardDescription = "Na derrota de 25 a 20 contra os Eagles, os Patriots jogam bem no segundo tempo, mas as faltas da linha ofensiva e drops atrapalham o camilho da virada. "
        >
    </app-big-card>
    <app-big-card
        photoCover="https://static.clubs.nfl.com/image/private/t_editorial_landscape_12_desktop/patriots/gy6wwlp8vuebxtqvz6es"
        cardTitle = "Patriots VS Dolfins"
        cardDescription=" Derrota de 24 a 17 a defesa dos Patriots faz sua parte, mas o ataque não consegue converter, desde 2001 que os Patriots não começam uma temporado 0-2."
     >
    </app-big-card>
    <app-big-card 
        photoCover="https://static.clubs.nfl.com/image/private/t_editorial_landscape_12_desktop/patriots/ogszxenaud7vf9nmgf6g"
        cardTitle="Patriots VS Jets "
        cardDescription="Com Rodgers fora da temporada, será essa a chance dos Patriots ganhar seu primeiro jogo na temporada?"    
    >
    </app-big-card>    
    </div>

    <div class="articles_others">
        <app-small-card
        Id="4"
        cardTitle="Kendrick Bourne. O melhor wide receiver dos Patriots ?"
        photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWu6-iLPJzS9zWnO4NGNljU94YQF6xVDHL9A&usqp=CAU"
        ></app-small-card>
        <app-small-card
        Id="5"
        cardTitle="Defesa dos Patriots faz um grande trabalho sedendo apenas um touchdown"
        photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTh_Ug5PPeXMgpjkWgGi4ZkqemPiQMZf2remQ&usqp=CAU"
        ></app-small-card>
        <app-small-card
        Id="6"
        cardTitle="A defesa continua fazendo sua parte, mas o ataque continua a baixo."
        photoCover="https://conteudo.imguol.com.br/c/esporte/91/2021/11/15/mac-jones-10-do-new-england-patriots-durante-jogo-contra-o-atlanta-falcons-pela-nfl-14112021-1637017180513_v2_1x1.jpg"
        ></app-small-card>
        <app-small-card
        Id="7"
        cardTitle="Calouro Christian Gonzalez tem um ótimo começo de temporada nos Patriots. "
        photoCover="https://www.masslive.com/resizer/Hy5DloYBJwaUmEBHw0LZgGrTox4=/1280x0/smart/cloudfront-us-east-1.images.arcpublishing.com/advancelocal/ZZMAWVGHORHBHKT4VTEDIAJFVY.jpg"
        ></app-small-card>
        <app-small-card
        Id="8"
        cardTitle="Lesão de Rodgers pode salvar os Patriots em posição na divisão. "
        photoCover="https://www.si.com/.image/ar_4:3%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1200/MjAwNzM0NzIwODEwNTU4ODUw/aaronrodgersjets.jpg"
        ></app-small-card>
        <app-small-card
        Id="9"
        cardTitle="Ataque precisa jogar melhor para anotar pontos."
        photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1itLBkZkiuhyio0tVhfT0bNICoxckCTzrrw&usqp=CAU"
        ></app-small-card>

    </div>

</div>
